body{
  margin: 0px;
  padding: 0px;
}

.formulario{
width: auto;
height: auto;
padding-top: 35px;
text-align: center;
}
.login{
  width: auto;
  height: auto;
  padding-top: 35px;
  text-align: center;
}
.centro{
margin: 0 auto;
float: right;
}
